body h1 {
  font-family: Arial sans-serif;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  color: #f00;
}

body p {
  width: 600px;
  padding: 5px;
  margin: 0 auto;
  font-family: Arial sans-serif;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  color: #333;
}
