// MIXIN

@mixin text-configuration ($font_family: Arial sans-sarif, $font_size: 10px, $font_weight: normal, $text_align: left, $color: #333){

  font-family: $font_family;
  font-size: $font_size;
  font-weight: $font_weight;
  text-align: $text_align;
  color: $color;
}

body{
  h1{
    @include text-configuration (Arial sans-serif, 45px, bold, center, #f00);
  }
  p{
    width: 600px;
    padding: 5px;
    margin: 0 auto;
    @include text-configuration (Arial sans-serif, 25px, normal, center);
  }
}